body {
	margin: 0;
}
header {
	background-color: #4e4d4a;
}
h1 {
	color: #dadde4;
	margin: 0;
	padding: .5em;
	text-align: center;
	font: bold 3vw sans-serif;
}
#main section{
	width: 40vw;
	max-width: 35em;
	height: 40vw;
	max-height: 35em;
	margin: 5em auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.inLocation {
	display: block;
	width: 50%;
	height: 1em;
	margin: 1em auto;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #555;
	transition: background-color 0.8s;
}
.inSearch {
	display: block;
	margin: 1em auto;
	width: 5em;
	border: 1px solid #82807d;
	border-radius: 3px;
	padding: .3em;
	background-color: #dadde4;
	color: #4e4d4a;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	cursor: pointer;
	transition: all .5s;
}
.inSearch:hover, input#inSearch:focus {
	background-color: #82807d;
	color: white;
}
.outContent {
	margin: 1em auto;
	height: 70%;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.outContent h4 {
	margin: 10% 0;
	padding: 0 0 0 10%;
	font: bold 2vw sans-serif;
	color: #555;
}
.outContent section h2 {
	font: bold 5vw sans-serif;
	text-align: center;
	width: 50%;
	padding-left: 10%;
	margin: 0;
	display: inline-block;
}
.outContent h2:after {
	content: "°F";
}
.outContent section {
	margin: 15% 10% 15% 30%;
}
.outContent p {
	font: italic 1.5vw sans-serif;
	text-align: center;
}
